/* Basic styling for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #151010;
}

.navbar .title h1 {
  margin: 0;
}

/* Styling for the navigation links */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #0a0404;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a.active-link {
  font-weight: bold;
  border-bottom: 2px solid white;
}

/* Profile icon styling */
.navbar .profile-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 30px;
}

.profilemenu {
  position: relative;
}

/* Dropdown menu styling */
.dropdown-menu {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transform: translateY(-20%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 1;
  display: none;
}

.dropdown-menu.slide-down {
  opacity: 5;
  transform: translateY(0);
  display: block;
  align-items: center;
}


.dropdown-menu button {
  background-color: #333333;
  color: white;
  border: none;
  padding: 10px 10px;
  width: 50%;
  text-align: centre;
  font-size: 15px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-menu button:hover {
  background-color: #dcc40f;
}


.dropdown-menu button:focus {
  outline: none;
}
